@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

/*navigation bar*/
.navbar {
  background: crimson;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 80px;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  padding: 15px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  /* transition: color 0.3s ease; */
}

navbar.sticky {
  padding: 30px 0;
  background: crimson;
}

.navbar .logo a {
  color: #fff;
  font-weight: 600;
  font-size: 35px;
}

.navbar .logo a span {
  color: rgb(20, 20, 71)
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-left: 25px;
}

/* .navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

/* .max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
} */


.max-width {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.navbar .menu li a:hover {
  color: rgb(20, 20, 71);
}

/*MENU BUTTON*/
.menu-btn {
  color: white;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/*HOME*/

#home {
  /* display: flex; */
  background-image: url("./homebackdrop2.jpg");
  margin-top: 80px;
  height: calc(100vh - 90px);
  width: 100%;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* .home-content{
  padding-top: 300px;
  padding-left: 600px;
  font-family: 'Ubuntu', sans-serif;
  min-height: 500px;
  font-weight: bold;
  
} */
/* .home-content bannerImg{
  border-radius: 6px;
  box-shadow: 5px
} */
.home .max-width {
  margin: auto 0 auto 40px;
}

.home-content .text-1 {
  font-size: 27px;
}

.home-content .text-2 {
  font-size: 75px;
  font-weight: 600px;
  margin-left: -3px;
}

.home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home-content .text-3 span {
  color: crimson;
  font-weight: 500;
}

/*about section*/
section {
  padding: 100px 0;
}

.about,
.experience {
  font-family: 'Poppins', sans-serif;
}

.about .title {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 50px;
  padding-bottom: 20px;
}

.about .title::before {
  content: "";
  position: absolute;
  bottom: -165px;
  left: 50%;
  width: 205px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}

.about .title::after {
  content: "who I am?";
  position: absolute;
  bottom: -177px;
  left: 50%;
  font-size: 20px;
  color: crimson;
  padding: 5px;
  background: #fff;
  transform: translateX(-50%);
}

.about .about-content .left img {
  object-fit: cover;

}

.about .about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.about .about-content .left {
  width: 45%;
}

.about .about-content .right {
  width: 55%;
}

.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .about-content .right .text span {
  color: crimson;
}

.about .about-content .right p {
  text-align: justify;
}

.about .about-content .right a {

  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 20px;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3 ease;
  font: weight 500px;
}

.about .about-content .right a:hover {
  color: crimson;
  background: none;
}

.about .about-content .column {
  width: 50%;
}

/*experieces section*/
.experience .extitle {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 50px;
  padding-bottom: 20px;
}

.experience {
  background-color: #111;
  color: #fff;
}

.experience-content {
  display: flex;
  justify-items: space-between;
  align-items: center;
}

.experience .experience-content .card {
  width: calc(33%-20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  margin: 10px;
  height: 300px;
  display: flex;
  justify-items: center;
  align-items: center;
  transition: all 0.3s ease;
}

.experience .experience-content .card:hover .box {
  transform: scale(1.05);
}

.experience .experience-content .card:hover {
  background: crimson;
}

.experience .experience-content .card2 {
  width: calc(33%-20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
}

.experience .experience-content .card3 {
  width: calc(33%-20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
}

.experience .experience-content .card i {
  font-size: 50px;
  color: crimson;
  transition: all 0.3s ease;
}

.experience .experience-content .card:hover i {
  color: #fff;
}

.experience .experience-content .card text {
  font-size: 25px;
  font-weight: 500;
  margin: 10 0 7;
}
/* SKILLS SECTION */
.skills{
  font-family: 'Poppins', sans-serif;
}
.skills .skill-content .column{
  width: calc(50% - 30px);
}












/* responsive media query */
@media (min-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }
}

@media (min-width: 1104px) {
  /* .about .about-content .left img{
    object-fit: cover;
    border-radius:6px;
  } */
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }

  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active.before {
    content: "\f00d";
  }

  .max-width {
    flex-direction: column;
  }

  .bannerContent {
    order: 2;
  }

  .bannerImg {
    order: 1;
  }

  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    background: crimson;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
    display: none;

  }

  .show {
    display: block !Important;
  }

  /* .hide{
  display : none;
} */

  .navbar .menu li {
    display: block;
  }

  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font: size 25px;
  }

  .home-content .text-1 {
    font-size: 27px;
  }

  .home-content .text-2 {
    font-size: 75px;
    font-weight: 600px;
    margin-left: -3px;
  }

  .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
  }

  .home-content .text-3 span {
    color: crimson;
    font-weight: 500;
  }

  .experience-content {
    flex-wrap: wrap;
  }
}


@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active:before {
    content: "\f00d";
  }

  .navbar .menu {
    position: fixed;
    height: 100vh;
    left: -100%;
    top: 0;
    background: crimson;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;

  }

  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: block;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font: size 25px;
  }

  .home .home-content .text-2 {
    font-size: 70px;
  }

  .home .home-content .text-3 {
    font-size: 35px;
  }

  .about .about-content .column {
    width: 50%;
  }

  .max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
  }

  .experience .experience-content .card {
    width: (50% - 10px);
    margin-bottom: 20px;
  }
}

@import (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }

  .home .home-content .text2 {
    font-size: 60px;
  }

  .home .home-content .text3 {
    font: size 32px;
  }

  .home .home-content a {
    font-size: 20px;
  }

  .experience .experience-content .card {
    width: 100%;
  }
}

@import (max-width: 500px) {
  .home .home-content .text2 {
    font-size: 50px;
  }
}